!!!
%html
  %head
    %title TW Avatars
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=2"}
    %meta{name: "robots", content: "noindex, nofollow"}    
    
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Roboto+Condensed"}
    %link{rel: "stylesheet", type: "text/css", href: "1140.css"}
    %link{rel: "stylesheet", type: "text/css", href: "style.css"}
        
  %body       
    .alphabet
      -('A'..'Z').each do |char|
        %a.letter{href: "##{char}"}=char
         
    .container
      -used_letters = []
      -@people.each_slice(3) do |row|
        .row
          -row.each do |person|
            .fourcol
              .person
                -unless used_letters.include? person.initial
                  %a.initial{name: person.initial, "data-initial" => person.initial}
                  -used_letters << person.initial
                .avatar
                  .frame
                    %image{src: person.avatar}
                .name  
                  %h3=person.name
                .phone
                  %a{href: "tel:#{person.phone}"}=person.phone
                .location{class: person.location.downcase}=person.location
                .clearfix          
        
    %script{type: "text/javascript", src:"http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{type: "text/javascript", src:"app.js"}