.row div:last-child {
    margin-right: 0px;
}

.row {
    overflow: visible;
    position: relative;
    min-width: 740px;    
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

header {
  color: #FFF;
  background: #333;
  border-bottom: 1em;
}

header h1 {
  padding: .5em;
  margin-bottom: .5em;
}

.alphabet {
  display: none;
}

.alphabet a.letter {
  float: left;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}

.person {
  padding: 1.4em 1em 1em 120px;
  margin: 1em 0;
  background: #EEE;
  position: relative;
  overflow: visible;
  min-height: 80px;
}

.person .avatar {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: .5em;
  padding: 5px;
  background: #FFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06);
}

.person .avatar .frame {
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.person .avatar img {
    width: 100px;
    min-height: 100px;
}

.person .name {
    margin-bottom: .5em;
}

.person .phone {

}

.person .location {
    position: absolute;
    top: -.2em;
    right: -.2em;
    line-height: 1.5em;
    padding: 0 .3em;
    background: #CCC;
    color: #000;
    opacity: .6;
}

.person .location.sydney {
    background: #6293E3;
}

.person .location.melbourne {
    background: #84CF80;
}

.person .location.brisbane {
    background: #EDD77E;
}

.person .location.perth {
    background: #EBABD0;
}

.container {
  margin-top: 4em;
}

.alphabet {
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: .5em 0;
  background: #333;
  box-shadow: 0 0 10px #000;    
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}

.alphabet .letter {
  float: left;
  width: 3.846154%;
  text-align: center;
  margin-top: 0;
  position: static;
}

.alphabet .letter.active {
  color: #FF8;
  text-shadow: 0 0 2em #FFF;
}

a.initial {
  position: absolute;
  top: -4em;
}


@media only screen and (max-width: 1023px) {
  .alphabet {
    font-size: 1.5em;
  }
  .container {
    margin-top: 4.5em;
  }
  a.initial {
    top: -4.5em;
  }
}